{% extends 'base.html' %}
{% block content %}
{% load static %}
<body >
    {% if request.user.is_authenticated %}
    </div>
        <a class="btn btn-dark m-3 buttonbox" href="{% url 'upload_images' %}" > upload_images </a>
        <a class="btn btn-dark m-3 buttonbox spinner-button btn btn-primary mb-2" type="button" id="btnFetch" href="{% url 'group_images' %}" > group images </a>
        </div>
    </div>
    {% endif %}
    <div class="container ">
        {% for image in images %}
        <div class="row row-cols-4">
            <img src="{% if image.image %}{{ image.image.url }}{% else %}{% static 'images/img/no-image-icon.PNG' %}{% endif %}">
        </div>
        {% endfor %}
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $("#btnFetch").click(function() {
          $(this).prop("disabled", true);
          $(this).html(
            '<i class="spinner-border text-light" role="status"></i>' 
          );
        });
    });  
</script>

{% endblock content %}
