{% extends 'base.html' %}
{% block content %}
<html lang="en">
{% load static %}
<body >
    {% if request.user.is_authenticated %}
        <p>Your collenction {{request.user}}</p>
    {% endif %}
    <div class="container ">
        {% for image in images %}
        <div class="row row-cols-4">
            <img src="{% if image.image %}{{ image.image.url }}{% else %}{% static 'images/img/no-image-icon.PNG' %}{% endif %}">
        </div>
        {% endfor %}
    </div>
    <a  class="btn btn-primary m-3" href="{% url 'upload_images' %}" > upload_images </a>
</body>
{% endblock content %}
