{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
{% load static %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#btnFetch").click(function() {
          $(this).prop("disabled", true);
          $(this).html(
            '<i class="spinner-border text-light" role="status"></i>' 
          );
        });
    });  
</script>
<body >
    <form method = 'POST' action = "{% url 'delete_images' %}">
    {% if request.user.is_authenticated %}
    {% csrf_token %}
    {{checked_boxes}}
        </div>
            <a class="btn btn-dark m-3 buttonbox" href="{% url 'upload_images' %}" > {% trans 'upload images'|capfirst %} </a>
            <a class="btn btn-dark m-3 buttonbox spinner-button btn btn-primary mb-2" type="button" id="btnFetch" href="{% url 'group_images' %}" > {% trans 'group images'|capfirst %} </a>
            <button class="btn btn-dark m-3 buttonbox" type="submit" > {% trans 'delete images'|capfirst %} </button>
        </div>
    {% endif %}
    <div class="container ">
        {% for group in unique_groupes %}
            <div class="row my-3">
                {% for image in images %}
                    {% if group == image.image_group and image.image_group == None %}
                    <div class="row my-3 ">
                        <div class="col-4">
                            <img class="img-fluid" src="{% if image.image %} {{ image.image.url }} {% else %} {% static 'images/img/no-image-icon.png' %}{% endif %}">
                            <input class="form-check-input" type="checkbox" name='image_checkbox' value="{{image.id}}" id="image">
                        </div>
                    </div>
                    {% else %}
                        {% if group == image.image_group %}
                        <div class="col-4">
                            <img class="img-fluid" src="{% if image.image %} {{ image.image.url }} {% else %} {% static 'images/img/no-image-icon.PNG' %}{% endif %}">
                            <input class="form-check-input" type="checkbox" name='image_checkbox' value="{{image.id}}" id="image"> 
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}  
            </div>
        {% endfor %}    
</body>
{% endblock content %}
